@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <style>
        h1 {
            font-family: 'Baskerville Old Face';
            color: blue;
        }

        .header {
            width: auto;
        }

        .footer {
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>
            Insurance Endorsement System
        </h1>
    </div>
    <div class="footer">
        <input id="logout" type="button" value="Logout" />
    </div>
</body>
</html>